/*header*/


header{
    @include flex (row,flex-start,center);
    background-color: antiquewhite;
    width: 100%;
    font-size: 1,5rem;
   
}
header nav{
    width: 50%;
}
header ul{
    @include flex (row,space-between,center);
    border: solid 2px black;
   
}


